body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dc9494;
}

.container {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #e8f4b4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p{
 color: black;
 font-size: 17px;
}
p a{
    color: rgb(255, 128, 0);
    font-style: bold;
}
p a:hover{
    color:blue;
}
#result {
    font-size: 18px;
    margin-top: 10px;
}
